@model ViewModels

@{
    ViewData["Title"] = ViewBag.CurrentView;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/fridge_food_detail.css">
</head>


<div class="bodydiv">
     <div class="content">
         <b class="başlık">Yemekler Ve Değerleri</b>
                <div>
                 <table> 
                      <tr>
                            <th><b>İsim</b></th> 
                            <th>Protein(%)</th> 
                            <th>Protein(gr)</th> 
                            <th>Yağ(%)</th> 
                            <th>Yağ(gr)</th>
                            <th>Karbonhidrat(%)</th>
                            <th>Karbonhidrat(gr)</th>
                            <th>Kalori</th>
                            <th>Sodyum(gr)</th>
                            <th>Potasyum(gr)</th>
                            <th>Kalsiyum(gr)</th>
                            <th>Lif(gr)</th>
                            <th>Kollestrol(gr)</th>
                            <th>S.T. Tarihi</th>
                     </tr>
                    @foreach(var x in Model.Food)
                    {
                                <tr> 
                                    <td><b>@x.yemek_ismi</b></td> 
                                    <td>@x.protein_yüzde</td> 
                                    <td>@x.protein_gr</td> 
                                    <td>@x.yağ_yüzde</td> 
                                    <td>@x.yağ_gr</td> 
                                    <td>@x.karbonhidrat_yüzde</td> 
                                    <td>@x.karbonhidrat_gr</td> 
                                    <td>@x.kalori</td> 
                                    <td>@x.sodyum_gr</td> 
                                    <td>@x.potasyum_gr</td>
                                    <td>@x.kalsiyum_gr</td> 
                                    <td>@x.lif_gr</td> 
                                    <td>@x.kollestrol_gr</td> 
                                    <td>12312312</td> 

                                </tr> 
                     }                              
                     </table> 
                </div>
            </div>
</div>

        