@model ViewModels

@{
    ViewData["Title"] = ViewBag.CurrentView;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/fridge.css">
</head>


<div class="bodydiv">
    <div class="flexible">
            <div class="image">
                 <img src="~/images/fridge.png">
           </div>
            <div class="content">
                <div>
                            <b class="başlık">@Model.name</b>

                            @if(Model.My_Food != null && Model.My_Food.Count != 0)
                            {
                                <table> 
                                <tr>
                                <th>İsim</th> 
                                <th>Eklenme</th> 
                                <th>Son tüketim</th> 
                                <th>İşlemler</th>
                                </tr>
                                @foreach(var x in Model.My_Food)
                                {
                                <tr> 
                                    <td>@x.Food.yemek_ismi</td> 
                                    <td>@x.eklenme_tarihi.ToString("dd/MM/yyyy")</td> 
                                @{
                                    DateTime d1 = @x.bozulma_tarihi;
                                    DateTime d2 = @x.eklenme_tarihi;
                                    string renk = "black";
                                    if((d1-d2).Days <=1){
                                        renk = "darkred";
                                    }
                                    else if((d1-d2).Days <=5){
                                        renk = "#8B8000";
                                    }
                                    <td style="color:@renk;">@x.bozulma_tarihi.ToString("dd/MM/yyyy")</td> 
                                }
                                    <td class="flexform">
                                        <form asp-action="Fridge_Food_Delete" asp-controller="Fridge" asp-area="" method="post">
                                           <input type="hidden" asp-for="User.id" value="@Model.User.id"/>
                                           <input type="hidden" asp-for="Fridge_id" value="@Model.Fridge_id"/>
                                           <input type="hidden" asp-for="Myfood_id" value="@x.id"/>
                                           <button type="submit" class="btn btn-secondary">Sil</button>  
                                        </form>     
                                         <form class="secondbutton" asp-action="Fridge_Food_Detail" asp-controller="Fridge" asp-area="" method="post">
                                           <input type="hidden" asp-for="User.id" value="@Model.User.id"/>
                                           <input type="hidden" asp-for="Fridge_id" value="@Model.Fridge_id"/>
                                           <input type="hidden" asp-for="Myfood_id" value="@x.id"/>
                                           <button type="submit" class="btn btn-secondary">Detaylar</button>  
                                        </form>      
                                    </td> 
                                </tr> 
                                }
                                </table> 
                              }
                </div>
            </div>
    </div>
        <b style="margin-left:2vw">@ViewBag.error</b>
    <div class="button">

        <form asp-action="Fridge_Select" asp-controller="Fridge" asp-area="">
            <select asp-for=Fridge_id class="form-select" aria-label="Buzdolaplarım."
                    asp-items="@(new SelectList(Model.Fridge, nameof(Fridge.id), nameof(Fridge.name)))">
            </select>
            <input type="hidden" asp-for=User.id value=@Model.User.id/>
            <button type="submit" id="işlem_buton" class="btn btn-danger">Seç</button>
        </form>

        <form asp-action="Fridge_Delete" asp-controller="Fridge" asp-area="">
            <input type="hidden" asp-for="Fridge_id" value=@Model.Fridge_id/>
            <input type="hidden" asp-for="User.id" value=@Model.User.id/>
            <button type="submit" id="işlem_buton" class="btn btn-secondary">Sil</button>
        </form>

        <form asp-action="Fridge_Create" asp-controller="Fridge" asp-area="">
            <input type="hidden" asp-for="User.id" value=@Model.User.id/>
            <button type="submit" id="işlem_buton" class="btn btn-secondary">Oluştur</button>
        </form>

            <button type="button" id="butonum" class="btn btn-secondary">Yeniden Adlandır</button>

            <div id="modalım" class="benimodalım">

              <div class="modalımın-contenti">
                <span class="close">&times;</span>
                <form asp-action="Fridge_Rename" asp-controller="Fridge" asp-area="">
                    <div>
                        <input type="text" asp-for="name" class="rename" />
                        <input type="hidden" asp-for="Fridge_id" value=@Model.Fridge_id/>
                        <input type="hidden" asp-for="User.id" value=@Model.User.id/>
                    </div>
                    <div>
                        <button type="submit" id="işlem_buton" class="btn btn-warning">Yeniden Adlandır</button>
                    </div>
                </form>
              </div>
            </div>
    </div>
</div>

            <script>
                var modalım = document.getElementById("modalım");
                var butonum = document.getElementById("butonum");
                var spanım = document.getElementsByClassName("close")[0];
                butonum.onclick = function () {
                    modalım.style.display = "block";
                }
                spanım.onclick = function () {
                    modalım.style.display = "none";
                }
                window.onclick = function (event) {
                    if (event.target == modalım) {
                        modalım.style.display = "none";
                    }
                }
            </script>