@model ViewModels

@{
    ViewData["Title"] = ViewBag.CurrentView;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/account.css">
    <script src="~/js/disablespacekey.js" type="text/javascript"></script>
</head>



<div class="bodydiv">
    <form class="inner" asp-action="Account_Edit_Post" asp-controller="Account" asp-area="" method="post">
        <div class="flexx">
            <b>Ad:</b>
            <input class="account" type="text" placeholder="@Model.User.Ad" asp-for="@Model.User.Ad" maxlength="30" minlength="1" onkeydown="keyDown(event)"/>
            <b>Soyad:</b>
            <input class="account" type="text" placeholder="@Model.User.Soyad" asp-for="@Model.User.Soyad" maxlength="30" minlength="1" onkeydown="keyDown(event)"/>
            <b>Cinsiyet:</b>
              <select class="selecttab" asp-for="@Model.User.Cinsiyet">
                <option value="@Model.User.Cinsiyet" selected="selected">@Model.User.Cinsiyet</option>
                @{
                    if(Model.User.Cinsiyet != "Erkek")
                    {
                        <option value="Erkek">Erkek</option>
                    }
                    if(Model.User.Cinsiyet != "Kadın")
                    {
                        <option value="Kadın">Kadın</option>
                    }
                    if(Model.User.Cinsiyet != "Belirtmemiş")
                    {
                        <option value="Belirtmemiş">Belirtmemiş</option>
                    }
                }
              </select>
            <b>Espota: (Değiştirilemez)</b>
            <input class="account" type="text" placeholder="@Model.User.Eposta" disabled/>
            <b>Şifre:</b>
            <input class="account" type="text" placeholder="@Model.User.Sifre" asp-for="@Model.User.Sifre" maxlength="30" minlength="4" onkeydown="keyDown(event)"/>
            <b>Telefon Numarası:</b>
            <input class="account" type="text" placeholder="@Model.User.Telefon" asp-for="@Model.User.Telefon" maxlength="10" minlength="10" onkeydown="keyDown(event)"/>
        </div>
        <div class="button">
            <input type="hidden" asp-for="@Model.User.id" value="@Model.User.id"/>
            <input type="hidden" asp-for="@Model.User.Eposta" value="@Model.User.Eposta"/>
            <button type="submit" class="btn btn-secondary">Düzenle</button>
            <button type="button" id="formsub" class="btn btn-secondary">İşlem İptal</button>
        </div>
    </form>
    <form id="formid" asp-action="Account" asp-controller="Account" asp-area="" method="post">
            <input type="hidden" asp-for="@Model.User.id" value="@Model.User.id"/>
    </form>
    <div class="image">
        <div>
            @{
                string image = "Belirtilmemis.jpg";
                if (Model.User.Cinsiyet == "Erkek")
                {
                    image = "Erkek.jpg";
                }
                else if (Model.User.Cinsiyet == "Kadın")
                {
                    image = "Kadın.jpg";
                }
             }
            <img src="~/images/@image">
        </div>
            <div class="leftimagecontent">
                <form asp-action="Notification" asp-controller="Account" asp-area="" method="post">
                    <h3><b>Bildirim Ayarları:</b></h3>  
                    @{
                        if(Model.Notification.tercih_uygulama == true)
                        {
                            <p><input asp-for="Notification.tercih_uygulama" type="checkbox" checked="checked"/> Uygulama Bildirimi</p>
                        }
                        else
                        {
                             <p><input asp-for="Notification.tercih_uygulama" type="checkbox"/> Uygulama Bildirimi</p>
                        }
                        if(Model.Notification.tercih_eposta == true)
                        {
                            <p><input asp-for="Notification.tercih_eposta" type="checkbox" checked="checked"/> Eposta Bildirimi</p>
                        }
                        else
                        {
                             <p><input asp-for="Notification.tercih_eposta" type="checkbox"/> Eposta Bildirimi</p>
                        }
                        if(Model.Notification.tercih_sms == true)
                        {
                            <p><input asp-for="Notification.tercih_sms" type="checkbox" checked="checked"/> Sms Bildirimi</p>
                        }
                        else
                        {
                             <p><input asp-for="Notification.tercih_sms" type="checkbox"/> Sms Bildirimi</p>
                        }
                    }
                    <input type="hidden" asp-for="User.id" value="@Model.User.id" />
                    <input type="hidden" asp-for="Notification.id" value="@Model.Notification.id"/>
                    <button type="submit" class="btn btn-secondary">Kaydet</button>
                </form>
            </div>
    </div>
</div>

<script>
    var form = document.getElementById("formid");
    document.getElementById("formsub").addEventListener("click", function () {
  form.submit();
});
</script>
