<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/homelayout.css" type="text/css">
    <!-->
            <link rel="stylesheet" href="~/css/animation.css" type="text/css">
    </!-->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>

    <div class="bodysss">
        @{
            if (ViewBag.CurrentView != "AnaSayfa")
            {
                <div class="topnav">
                    <a href="@Url.Action("Index", "Home")" style="float:left;"><b>Ana Sayfa</b></a>
                </div>
            }
            <div class="topnav">
                <a href="@Url.Action("About", "Home")"><b>Hakkımızda</b></a>
                <a href="@Url.Action("ContactUs", "Home")"><b>Bize Ulaşın</b></a>
                <a href="@Url.Action("Login", "Home")"><b>Giriş</b></a>
            </div>
            if (ViewBag.CurrentView != "AnaSayfa")
            {
                <hr class="headerline" size="6" width="100%" color="black">
            } 
            
        }
    </div>
    <div class="renderbody">
        @RenderBody()
    </div>
</body>
</html>
