@using Microsoft.AspNetCore.Mvc.Razor
@model ViewModels;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web.API</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/layout.js"></script>

    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        @if(@ViewBag.CurrentView == "MainScreen")
        {
            <form class="header_right" asp-action="Notifications" asp-controller="Notification" asp-area="" method="post"> 
            <input type="hidden" asp-for="@Model.User.id" value="@Model.User.id" />

                @{
                    string color = default;
                    string text = string.Empty;
                    int count = 0; 
                    @if(Model.User.Notification_Count == null || Model.User.Notification_Count.notificationscount == 0)
                    {
                                count = @Model.User.Notification.Count();
                                if(count > 0)
                                {
                                    color = "darkred";
                                    text = count.ToString();
                                }
                    }
                    else
                    {
                        if(@Model.User.Notification_Count.notificationscount < @Model.User.Notification.Count())
                        {
                                count = @Model.User.Notification.Count() - @Model.User.Notification_Count.notificationscount;
                                if(count > 0)
                                {
                                    color = "darkred";
                                    text = count.ToString();
                                }
                        }
                    }
                    <button style="border:none; padding-left:1em; padding-right:1em; background-color:transparent;"><i style="color:@color" class="bi bi-chat-right-text-fill"></i>@text</button>
               }

        </form>
        }
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <form id="mainscreen" asp-action="MainScreen" asp-controller="Main" asp-area="" method="post">
                    <input type="hidden" asp-for="@Model.User.id" value="@Model.User.id" />
                    <a href="#" onclick="document.getElementById('mainscreen').submit()" style="border-bottom: 2px solid white; border-bottom-left-radius:10px;">
                        <span class="nav_logo active"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Menü</span> </span>
                    </a>
                </form>

                <div class="nav_list">
                    <form id="fridgescreen" asp-action="Fridge" asp-controller="Fridge" asp-area="" method="post">
                        <input type="hidden" asp-for="@Model.User.id" value="@Model.User.id" />
                        <a href="#" onclick="document.getElementById('fridgescreen').submit()" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Buzdolabım</span> </a>
                    </form>

                    <form id="accountscreen" asp-action="Account" asp-controller="Account" asp-area="" method="post">
                        <input type="hidden" asp-for="@Model.User.id" value="@Model.User.id" />
                        <a href="#" onclick="document.getElementById('accountscreen').submit()" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Porfilim</span> </a>
                    </form>

                    <form id="Textscreen" asp-action="Text" asp-controller="Text" asp-area="" method="post">
                        <input type="hidden" asp-for="@Model.User.id" value="@Model.User.id" />
                        <a href="#" onclick="document.getElementById('Textscreen').submit()" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Makaleler</span> </a>
                    </form>

                    <form id="Foodsscreen" asp-action="Foods" asp-controller="Food" asp-area="" method="post">
                        <input type="hidden" asp-for="@Model.User.id" value="@Model.User.id" />
                        <a href="#" onclick="document.getElementById('Foodsscreen').submit()" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Yemekler</span> </a>
                    </form>


                    <form id="aboutscreen" asp-action="About" asp-controller="Main" asp-area="" method="post">
                        <input type="hidden" asp-for="@Model.User.id" value="@Model.User.id" />
                        <a href="#" onclick="document.getElementById('aboutscreen').submit()" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Biz Kimiz</span> </a>
                    </form>

                    <form id="contactscreen" asp-action="ContactUs" asp-controller="Main" asp-area="" method="post">
                        <input type="hidden" asp-for="@Model.User.id" value="@Model.User.id" />
                        <a href="#" onclick="document.getElementById('contactscreen').submit()" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Bize Ulaşın</span> </a>
                    </form>
                </div>
            </div> <a asp-action="Index" asp-controller="Home" asp-area="" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Çıkış Yap</span> </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div style="height:100vh">
        @RenderBody()
    </div>
    <!--Container Main end-->
</body>
</html>
