@model ViewModels

@{
    ViewData["Title"] = ViewBag.CurrentView;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/text.css">
</head>


<div class="bodydiv">
     <div class="content">
         <b class="başlık">Yemekler Hakkında Yazılar</b>
                <div class="search">
                    <form asp-action="Text_Search" asp-controller="Text" asp-area="" method="post">
                      <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="Yazı Başlığı..." required>      
                         <input type="hidden" asp-for="User.id" value=@Model.User.id/>
                        <button type="submit" class="btn btn-primary">Ara</button>
                      </div>
                    </form>
                    <form asp-action="Text_Search_Clear" asp-controller="Text" asp-area="" method="post">
                         <input type="hidden" asp-for="User.id" value=@Model.User.id/>
                        <button type="submit" class="btn btn-secondary">Temizle</button>
                    </form>
                </div>
                <div class="mytext">
                    <form asp-action="My_Text" asp-controller="Text" asp-area="" method="post"> 
                        <input type="hidden" asp-for="User.id" value=@Model.User.id/>
                        <button type="submit" class="btn btn-primary">Yazılarım</button>
                    </form>
                    <form asp-action="Text_New" asp-controller="Text" asp-area="" method="post">
                         <input type="hidden" asp-for="User.id" value=@Model.User.id/>
                        <button type="submit" class="btn btn-secondary">Yeni Yazı</button>
                    </form>
                </div>
                <div>
                    <b style="color:red;">@ViewBag.error</b>
                 <table> 
                      <tr>
                            <th><b>Yazar</b></th> 
                            <th>Başlık</th> 
                            <th>Tarih</th> 
                            <th>İçerik</th> 
                            <th>İşlemler</th>
                     </tr>
                    @if(Model.User_article != null)
                    {
                                        @foreach(var x in Model.User_article)
                        {
                                    <tr> 
                                        <td>
                                            <div class="author">
                                                <div>
                                                    @{
                                                        string image = "Belirtilmemis.jpg";
                                                        if (Model.User.Cinsiyet == "Erkek")
                                                        {
                                                            image = "Erkek.jpg";
                                                        }
                                                        else if (Model.User.Cinsiyet == "Kadın")
                                                        {
                                                            image = "Kadın.jpg";
                                                        }
                                                     }
                                                    <img class="image" src="~/images/@image">
                                                </div>
                                                <div>
                                                    <p>@x.User.Ad @x.User.Soyad</p>
                                                </div>
                                            </div>
                                        </td> 
                                        <td>@x.title</td> 
                                        <td>@x.date.ToString("dd/MM/yyyy")</td> 
                                        <td>@x.text.ToString().Substring(0,50)...</td> <!--Yazıın içeriğini birazda olsa göemek için-->
                                        <td>
                                                <form asp-action="Text_Read" asp-controller="Text" asp-area="" method="post">
                                                            <input type="hidden" asp-for="User.id" value=@Model.User.id/>
                                                            <input type="hidden" asp-for="User_article_id" value=@x.id/>
                                                            <input type="hidden" name="from" value="Text"/>
                                                            <button type="submit" class="btn btn-secondary">Oku</button> 
                                               </form>    
                                        </td> 
                                    </tr> 
                         }   
                    }
                     </table>  
                </div>
        </div>
</div>
